@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
.button {
  border: none;
  padding: 1.5rem 5.2rem;
  background-color: #E8AA31;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
}

.button.active:hover {
  box-shadow: 0 0 2rem #E8AA31;
}

.header {
  width: 100%;
  background-color: #141414;
}

.hero {
  width: 100%;
  background: url(../../assets/images/bg-image-2.png) no-repeat;
  background-size: cover;
}
.hero .gradient {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8352941176);
}
.hero .gradient .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem 0;
}
.hero .gradient .container .raw {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: space-between;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10rem;
}
.hero .gradient .container .raw .left h3 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
  line-height: 4.6rem;
  margin-bottom: 3rem;
}
.hero .gradient .container .raw .left h3 span {
  font-weight: 500;
}
.hero .gradient .container .raw .left > p {
  width: 91.5rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  margin-bottom: 6rem;
}
.hero .gradient .container .raw .left > p .weight-500 {
  font-weight: 400;
}
.hero .gradient .container .raw .left > p .weight-400 {
  font-weight: 300;
}
.hero .gradient .container .raw .right {
  position: relative;
}
.hero .gradient .container .raw .right img:first-child {
  position: absolute;
  top: 20rem;
  left: 10rem;
  width: 42.1rem;
  height: 35.4rem;
  transform: rotate(30deg);
}
.hero .gradient .container .raw .right img:last-child {
  width: 44.7rem;
  height: 49.9rem;
  margin-left: auto;
}
.hero .gradient .container .raw .line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.7rem;
  margin-top: 3rem;
}
.hero .gradient .container .raw .line a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #E8AA31;
  background-color: #E8AA31;
}
.hero .gradient .container .raw .line a hr {
  width: 1.8rem;
  height: 0.2rem;
}
.hero .gradient .container .raw .line .active {
  position: relative;
  background-color: #E8AA31;
  border-color: #E8AA31;
}
.hero .gradient .container .raw .line .active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #E8AA31;
}
.hero .gradient .container .raw .line p {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  line-height: 4.6rem;
  letter-spacing: 0.1rem;
}
.hero .gradient .container .raw .line p span {
  font-size: 2.4rem;
  font-weight: 600;
  color: #E8AA31;
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem;
}
.nav__list .nav__item {
  padding: 2.5rem 0;
}
.nav__list .nav__item .nav__link {
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
}

.services {
  margin-bottom: 5.5rem;
}
.services .services__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: baseline;
  gap: 17.9rem;
}
.services .services__list .services__item {
  width: 26.5rem;
  height: 14.5rem;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 1.8rem;
  text-align: center;
  color: #fff;
}

.container {
  margin: 0 17.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile {
  margin-left: auto;
}
.profile .profile__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.profile .profile__list .profile__link {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.194rem;
  color: #fff;
}

.search {
  width: 37.7rem;
  margin-left: auto;
  background-color: hsla(0, 0%, 2.75%, 0.03);
  border: 0.1rem solid rgba(4, 4, 4, 0.4862745098);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search .search-btn {
  border: none;
  background: transparent;
  padding: 1.5rem 2rem;
  cursor: pointer;
}
.search .search-input {
  flex-grow: 1;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  background: transparent;
}

.address {
  width: 100%;
  background-color: #ECF1F2;
}
.address .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.4rem 0;
}
.address .container .address__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 5.5rem;
}
.address .container .address__list .address__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
}
.address .container .address__list .address__item i {
  font-size: 2.8rem;
  color: #141414;
}
.address .container .address__list .address__item .map {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.address .container .address__list .address__item .phone {
  position: relative;
  color: #141414;
}
.address .container .address__list .address__item .phone .desc {
  color: #E8AA31;
  font-weight: 700;
}
.address .container .address__list .address__item .phone::after {
  content: "";
  position: absolute;
  background: url(../../assets/images/down-icon.svg) no-repeat;
  width: 1.6rem;
  height: 1.6rem;
  right: -2rem;
  top: 0.5rem;
}
.address .container .address__list .address__item .address__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.address .container .address__list .address__item .address__link.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #141414;
}
.address .container .address__list .address__item .address__link.cart h4 {
  margin-left: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.address .container .address__list .address__item .address__link.cart h4 span.desc {
  color: #E8AA31;
}
.address .container .address__list .address__item .address__link.cart .fa-cart-shopping {
  position: relative;
}
.address .container .address__list .address__item .address__link.cart .fa-cart-shopping .fa-cart-shopping::after {
  content: "0";
  position: absolute;
  background-color: #E8AA31;
  padding: 1rem;
}

.menu {
  width: 100%;
  background-color: #141414;
}
.menu .menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11.5rem;
}
.menu .menu__list .menu__item {
  padding: 2.4rem;
  cursor: pointer;
}
.menu .menu__list .menu__item .menu__link {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: #fff;
}
.menu .menu__list .menu__item:hover {
  border-bottom: 0.5rem solid #E8AA31;
}
.menu .menu__list .menu__item:hover .menu__link {
  color: #E8AA31;
}
.menu .menu__list .menu__item.active {
  color: #E8AA31;
  border-bottom: 0.5rem solid #E8AA31;
}
.menu .menu__list .menu__item.active .menu__link {
  color: #E8AA31;
}

.product .container .product__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: baseline;
  justify-content: center;
  gap: 2.894rem;
  margin: 10.9rem 0;
}
.product .container .product__list .product__item .product__link {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  flex-grow: 1;
  width: 51.1rem;
  height: 29.3rem;
  padding: 3rem;
  padding-left: 3rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2941176471);
}
.product .container .product__list .product__item .product__link .left {
  position: absolute;
}
.product .container .product__list .product__item .product__link .left h4 {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin-bottom: 2rem;
}
.product .container .product__list .product__item .product__link .left hr {
  border: none;
  width: 6.8rem;
  color: #E8AA31;
  background-color: #E8AA31;
  height: 0.2rem;
  margin-bottom: 5rem;
}
.product .container .product__list .product__item .product__link .left ul li {
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
  line-height: 3.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
}
.product .container .product__list .product__item .product__link .left ul li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #E8AA31;
}
.product .container .product__list .product__item .product__link .right {
  position: absolute;
  bottom: 0;
  transform: scale(0.5);
}

.bestsellers {
  margin-bottom: 16.8rem;
}
.bestsellers .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bestsellers .container .bestsellers__top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.bestsellers .container .bestsellers__top h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.6rem;
}
.bestsellers .container .bestsellers__top a {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  color: #141414;
}
.bestsellers .container .bestsellers__top a i {
  margin-left: 1rem;
  color: #E8AA31;
}
.bestsellers .container .bestsellers__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: baseline;
  gap: 3rem;
  margin-bottom: 6rem;
}
.bestsellers .container .bestsellers__list .bestsellers__item {
  position: relative;
  width: 37.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2941176471);
  padding: 2rem;
  flex-grow: 1;
}
.bestsellers .container .bestsellers__list .bestsellers__item img {
  width: 100%;
}
.bestsellers .container .bestsellers__list .bestsellers__item h4 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.4rem;
  color: #141414;
}
.bestsellers .container .bestsellers__list .bestsellers__item .desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ababab;
}
.bestsellers .container .bestsellers__list .bestsellers__item .desc span {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3.4rem;
}
.bestsellers .container .bestsellers__list .bestsellers__item .score {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2.6rem;
}
.bestsellers .container .bestsellers__list .bestsellers__item .score span:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.bestsellers .container .bestsellers__list .bestsellers__item .score span:first-child i {
  font-size: 2.2rem;
  color: #E8AA31;
}
.bestsellers .container .bestsellers__list .bestsellers__item .score span:last-child {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.4rem;
  color: #ababab;
}
.bestsellers .container .bestsellers__list .bestsellers__item hr {
  border: none;
  height: 0.4rem;
  color: rgba(20, 20, 20, 0.1725490196);
  background-color: rgba(20, 20, 20, 0.1647058824);
}
.bestsellers .container .bestsellers__list .bestsellers__item .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2.6rem;
}
.bestsellers .container .bestsellers__list .bestsellers__item .price ins {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}
.bestsellers .container .bestsellers__list .bestsellers__item .price .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  margin-left: auto;
}
.bestsellers .container .bestsellers__list .bestsellers__item .price .icon .fa-scale-balanced {
  font-size: 2.6rem;
  color: #000;
}
.bestsellers .container .bestsellers__list .bestsellers__item .price .icon .fa-heart {
  font-size: 2.8rem;
  color: #E8AA31;
}
.bestsellers .container .bestsellers__list .bestsellers__item .button {
  width: 100%;
}
.bestsellers .container .pagenation ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.bestsellers .container .pagenation ol li a {
  cursor: pointer;
}
.bestsellers .container .pagenation ol .active {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.bestsellers .container .pagenation ol .active hr {
  color: #E8AA31;
  background-color: #000;
}
.bestsellers .container .pagenation ol .active::before {
  content: "";
  position: absolute;
  left: -0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #E8AA31;
}
.bestsellers .container .pagenation ol hr {
  width: 1.8rem;
  color: #000;
}

.news {
  width: 100%;
  background: url(../../assets/images/bg-image-2.png) no-repeat;
  background-size: cover;
}
.news .gradient {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.news .gradient .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6.6rem;
}
.news .gradient .container .news__description {
  margin-top: 1.8rem;
  width: 33.6rem;
  color: #fff;
}
.news .gradient .container .news__description h4 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.6rem;
  margin-bottom: 3rem;
}
.news .gradient .container .news__description p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem;
  letter-spacing: 3%;
  opacity: 0.7;
  margin-bottom: 6rem;
}
.news .gradient .container .news__description a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 4.6rem;
  color: #E8AA31;
  letter-spacing: 5%;
}
.news .gradient .container .news__description a i {
  width: 0.9rem;
  margin-left: 2rem;
}
.news .gradient .container .news__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}
.news .gradient .container .news__card .bestsellers__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: baseline;
  gap: 3rem;
  margin-bottom: 6rem;
  margin-top: 5.5rem;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item {
  position: relative;
  width: 37.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2941176471);
  background-color: #fff;
  padding: 2rem;
  flex-grow: 1;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item img {
  width: 100%;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item h4 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.4rem;
  color: #141414;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item .desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #ababab;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item .desc span {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3.4rem;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item .score {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.6rem;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item .score span:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item .score span:first-child i {
  font-size: 2.2rem;
  color: #E8AA31;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item .score span:last-child {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.4rem;
  color: #ababab;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item hr {
  border: none;
  height: 0.4rem;
  color: rgba(20, 20, 20, 0.1725490196);
  background-color: rgba(20, 20, 20, 0.1647058824);
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2.6rem;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item .price ins {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item .price .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  margin-left: auto;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item .price .icon .fa-scale-balanced {
  font-size: 2.6rem;
  color: #000;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item .price .icon .fa-heart {
  font-size: 2.8rem;
  color: #E8AA31;
}
.news .gradient .container .news__card .bestsellers__list .bestsellers__item .button {
  width: 100%;
}
.news .gradient .container .news__card .pagenation {
  padding-bottom: 4.6rem;
}
.news .gradient .container .news__card .pagenation ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.news .gradient .container .news__card .pagenation ol li a {
  cursor: pointer;
}
.news .gradient .container .news__card .pagenation ol .active {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.news .gradient .container .news__card .pagenation ol .active hr {
  color: #E8AA31;
  background-color: #000;
}
.news .gradient .container .news__card .pagenation ol .active::before {
  content: "";
  position: absolute;
  left: -0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #E8AA31;
}
.news .gradient .container .news__card .pagenation ol hr {
  width: 1.8rem;
  color: #000;
}

.aksiya {
  margin-top: 12rem;
  margin-bottom: 16.8rem;
}
.aksiya .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aksiya .container .aksiya__top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.aksiya .container .aksiya__top h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.6rem;
}
.aksiya .container .aksiya__top a {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  color: #141414;
}
.aksiya .container .aksiya__top a i {
  margin-left: 1rem;
  color: #E8AA31;
}
.aksiya .container .bestsellers__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: baseline;
  gap: 3rem;
  margin-bottom: 6rem;
}
.aksiya .container .bestsellers__list .bestsellers__item {
  position: relative;
  width: 37.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2941176471);
  padding: 2rem;
  flex-grow: 1;
}
.aksiya .container .bestsellers__list .bestsellers__item img {
  width: 100%;
}
.aksiya .container .bestsellers__list .bestsellers__item h4 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.4rem;
  color: #141414;
}
.aksiya .container .bestsellers__list .bestsellers__item .desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ababab;
}
.aksiya .container .bestsellers__list .bestsellers__item .desc span {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3.4rem;
}
.aksiya .container .bestsellers__list .bestsellers__item .score {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2.6rem;
}
.aksiya .container .bestsellers__list .bestsellers__item .score span:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.aksiya .container .bestsellers__list .bestsellers__item .score span:first-child i {
  font-size: 2.2rem;
  color: #E8AA31;
}
.aksiya .container .bestsellers__list .bestsellers__item .score span:last-child {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.4rem;
  color: #ababab;
}
.aksiya .container .bestsellers__list .bestsellers__item hr {
  border: none;
  height: 0.4rem;
  color: rgba(20, 20, 20, 0.1725490196);
  background-color: rgba(20, 20, 20, 0.1647058824);
}
.aksiya .container .bestsellers__list .bestsellers__item .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2.6rem;
}
.aksiya .container .bestsellers__list .bestsellers__item .price ins {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}
.aksiya .container .bestsellers__list .bestsellers__item .price .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  margin-left: auto;
}
.aksiya .container .bestsellers__list .bestsellers__item .price .icon .fa-scale-balanced {
  font-size: 2.6rem;
  color: #000;
}
.aksiya .container .bestsellers__list .bestsellers__item .price .icon .fa-heart {
  font-size: 2.8rem;
  color: #E8AA31;
}
.aksiya .container .bestsellers__list .bestsellers__item .button {
  width: 100%;
}
.aksiya .container .pagenation ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.aksiya .container .pagenation ol li a {
  cursor: pointer;
}
.aksiya .container .pagenation ol .active {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.aksiya .container .pagenation ol .active hr {
  color: #E8AA31;
  background-color: #000;
}
.aksiya .container .pagenation ol .active::before {
  content: "";
  position: absolute;
  left: -0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #E8AA31;
}
.aksiya .container .pagenation ol hr {
  width: 1.8rem;
  color: #000;
}

.article .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.article .container .article__heading h4 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.6rem;
  letter-spacing: 5%;
  margin-bottom: 3rem;
}
.article .container .article__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  margin-bottom: 12rem;
}
.article .container .article__top .article__item {
  position: relative;
  width: 37.5rem;
  height: 35rem;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(20, 20, 20, 0.3529411765);
}
.article .container .article__top .article__item a {
  color: #141414;
}
.article .container .article__top .article__item a img {
  width: 100%;
}
.article .container .article__top .article__item a h4 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.4rem;
  padding: 2.6rem;
  margin-bottom: 0.4rem;
}
.article .container .article__top .article__item a span {
  position: absolute;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 3rem;
  color: #ababab;
  bottom: 0;
}
.article .container .article__footer .fonar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 7rem;
}
.article .container .article__footer .fonar li {
  position: relative;
  width: 77rem;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 0 0.4rem #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem;
}
.article .container .article__footer .fonar li .fonar__desc {
  width: 34.5rem;
}
.article .container .article__footer .fonar li .fonar__desc h4 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.4rem;
}
.article .container .article__footer .fonar li .fonar__desc hr {
  width: 6.8rem;
  height: 0.3rem;
  border: none;
  color: #E8AA31;
  background-color: #E8AA31;
  margin-bottom: 3rem;
}
.article .container .article__footer .fonar li .fonar__desc p {
  width: 26.3rem;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.article .container .article__footer .fonar li .fonar__desc .button {
  width: 100%;
}
.article .container .article__footer .fonar li .fonar__img img {
  width: 250px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 48.5%;
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input {
  outline: none;
  border: none;
}/*# sourceMappingURL=main.css.map */