*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

ul,
ol{
    list-style: none;
}

input{
    outline: none;
    border: none;
}