@import 'variables';
@import 'buttons';
@import 'footer';
@import 'header';
@import 'hero';
@import 'navbar';
@import 'services';
@import 'container';
@import 'profile';
@import 'search';
@import 'address';
@import 'menu';
@import 'product';
@import 'bestsellers';
@import 'news';
@import 'aksiya';
@import 'article';