@use "sass:map";

$font-weights: ('extralight': 200, 'light': 300, 'regular': 400, 'medium': 500, 'semibold': 600, 'bold': 700, 'extrabold': 800, 'black': 900);

.hero{
    width: 100%;
    background: url(../../assets/images/bg-image-2.png) no-repeat;
    background-size: cover;
    .gradient{
        width: 100%;
        background-color: #000000D5;
        .container{
            @include flexbox-column;
            flex-wrap: wrap;
            padding: 5rem 0;
            .raw{
                @include flexbox-row;
                justify-content: space-between;
                width: 100%;
                height: fit-content;
                margin-bottom: 10rem;
                .left{
                    h3{
                        font-size: 3.6rem;
                        font-weight: map.get($font-weights, 'bold');
                        color: $text-white;
                        line-height: 4.6rem;
                        margin-bottom: 3rem;
                        span{
                            font-weight: map.get($font-weights, 'medium');
                        }
                    }
                }
                .left > p{
                    width: 91.5rem;
                    color: $text-white;
                    font-size: 2rem;
                    font-weight: map.get($font-weights, 'medium');
                    line-height: 3rem;
                    margin-bottom: 6rem;
                    .weight-500{
                        font-weight: map.get($font-weights, 'regular');
                    }
                    .weight-400{
                        font-weight: map.get($font-weights, 'light');
                    }
                }
                .right{
                    position: relative;
                    img:first-child{
                        position: absolute;
                        top: 20rem;
                        left: 10rem;
                        width: 42.1rem;
                        height: 35.4rem;
                        transform: rotate(30deg);
                    }
                    img:last-child{
                        width: 44.7rem;
                        height: 49.9rem;
                        margin-left: auto;
                        // z-index: 10;
                    }                    
                }
                .right::before{
                    content: "";
                    position: absolute;
                    width: 42.4rem;
                    height: 35.4rem;
                    background: url(../../assets/images/ellipse-1.svg) no-repeat;
                    z-index: -1;
                }
                
                .line{
                    @include flexbox-row;
                    gap: 1.7rem;
                    margin-top: 3rem;
                    hr{
                        width: 1.8rem;
                        height: .2rem;
                    }
                    .active{
                        position: relative;
                        background-color: $orange;
                        border-color: $orange;
                    }
                    .active::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        background-color: $orange;
                    }
                    p{
                        font-size: 1.8rem;
                        color: $text-white;
                        font-weight: map.get($font-weights, 'semibold');
                        line-height: 4.6rem;
                        letter-spacing: .1rem;  
                        span{
                            font-size: 2.4rem;
                            font-weight: map.get($font-weights, 'semibold');
                            color: $orange;
                        }
                    }
                }
            }
        } 
    }

    
}