@use "sass:map";

$font-weights: ('extralight': 200, 'light': 300, 'regular': 400, 'medium': 500, 'semibold': 600, 'bold': 700, 'extrabold': 800, 'black': 900);

.nav__list{
    @include flexbox-row;
    gap: 6rem;
    .nav__item{
        padding: 2.5rem 0;
        .nav__link{
            font-weight: map.get($font-weights, 'medium');
            font-size: 1.6rem;
            color: $text-white;
        }
    }
}