@use "sass:map";

$font-weights: ('extralight': 200, 'light': 300, 'regular': 400, 'medium': 500, 'semibold': 600, 'bold': 700, 'extrabold': 800, 'black': 900);

.product{
    .container{
        .product__list{
            @include flexbox-row;
            flex-wrap: wrap;
            align-items: center;
            align-content: baseline;
            justify-content: center;
            gap: 2.894rem;
            margin: 10.9rem 0;
            .product__item{
                .product__link{
                    position: relative;
                    @include flexbox-row;
                    align-items: flex-start;
                    flex-grow: 1;
                    width: 51.1rem;
                    height: 29.3rem;
                    padding: 3rem;
                    padding-left: 3rem;
                    box-shadow: 0 0 .4rem #0000004B;
                    .left{
                        position: absolute;
                        h4{
                            font-size: 2.4rem;
                            font-weight: map.get($font-weights, 'semibold');
                            font-family: 'Montserrat', sans-serif;
                            color: #000;
                            margin-bottom: 2rem;
                        }
                        hr{
                            border: none;
                            width: 6.8rem;
                            color: $orange;
                            background-color: $orange;
                            height: .2rem;
                            margin-bottom: 5rem;
                        }
                        ul{
                            li{
                                position: relative;
                                font-size: 1.8rem;
                                font-weight: map.get($font-weights, 'medium');
                                color: #000;
                                line-height: 3.4rem;
                                @include flexbox-row;
                                padding-left: 2rem;
                            }
                            li::before{
                                content: '';
                                position: absolute;
                                left: 0;
                                width: .6rem;
                                height: .6rem;
                                border-radius: 50%;
                                background-color: $orange;
                            }
                        }
                    }
                    .right{
                        position: absolute;
                        // right: 0;
                        bottom: 0;
                        transform: scale(.5);
                    }
                }
            }
        }
    }
}