$background-color: #141414;
$background-color-gray: #ECF1F2;
$orange: #E8AA31;
$text-white: #fff;
$text-gray: #ABABAB;
$text-dark: #141414;

// FLEXBOX ROW
@mixin flexbox-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

// FLEXBOX COLUMN
@mixin flexbox-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
